[user]
name = Nicole
email = 76132106+nicolecomputer@users.noreply.github.com

[alias]
co = checkout
recent = !git for-each-ref --count=35 --sort=-committerdate refs/heads/ --format='%(refname:short)!%(authorname)!%(committerdate:short)' | rs -zc! 35 3

[init]
	defaultBranch = main

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections

[merge]
    conflictStyle = zdiff3
